head
  title music svg visulizer
  link(rel="stylesheet", href="/styles/style.css")
  link(rel="stylesheet", href="/vendors/css/mocha.css")
  script(type='text/javascript', src= '/vendors/js/mocha.js')  
  script(type='text/javascript', src= '/vendors/js/chai.js') 
  script(type='text/javascript', src= '/SvgBarChart.js')
  script(type='text/javascript', src= 'http://localhost:35729/livereload.js')
  script(type='text/javascript', src= '/AudioVisualizer.js')
  script(type='text/javascript', src= '/SvgBar.js')